extends ../layouts/default

block content
  article.blog
    p: a(href='/blog') &larr; back to the blog
    hr
    if !data.post
      h2 Invalid Post.
    else
      header.blog-header
        h1= data.post.title
        h5 Posted 
          if data.post.publishedDate
            | on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
          if data.post.categories && data.post.categories.length
            | in 
            each cat, cat_i in data.post.categories
              a(href='/blog/' + cat.key)= cat.name
              if cat_i < data.post.categories.length - 1
                | , 
              else
                |  
          if data.post.author
            | by #{data.post.author.name.first}
      section.blog-content.has-text-justified
        article.blog-content-main !{data.post.content.extended.html}
      section.blog-contact
        hr
        p Click 
          a(href="/contact") here
          |  if you have any questions or remarks regarding this post.
