include ../mixins/flash-messages

doctype html
html
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content=config.author)
    meta(name="description" content=config.name)
      
    if config.allowRobots
      meta(name="robots" content="index,follow")
    else
      meta(name="robots" content="noindex,nofollow")
      
    title= title || 'Personal Site by Severin Fürbringer'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- CSS
    link(href="/styles/vendor/bulma.min.css", rel="stylesheet")
    link(href="/styles/site.min.css", rel="stylesheet")

    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
    
    link(rel="license" href=config.licenseLegal)
    
    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    //- HEADER
    header
      section.section
        .container
          a(href='/' title=config.name).brand: span= config.brand
        .container
          .tabs
            ul
              each link in navLinks
                li(class=(section == link.key ? 'active' : null))
                  a(href=link.href)= link.label
    //- BODY
    #body
      //- section.section.is-small
      section.section
        .container
          .content
            block intro
            +flash-messages(messages)
            block content

    //- FOOTER
    footer
      section.section
        .container
          .columns
            .column
              p.footer-left.has-text-left By 
                a(href="/contact") Severin Fürbringer
            .column
              p.footer-center.has-text-centered
                a(rel="license" href=config.license target="_blank")
                  img(alt="Creative Commons License" style="border-width:0" src=config.licenseImage)
            .column
              p.footer-right.has-text-right Code on Git{
                a(href="https://github.com/fuerbringer/fuerbringer.info" target="_blank") Hub
                | ,
                a(href="https://gitlab.com/fuerbringer/fuerbringer.info" target="_blank") Lab
                | }
          .columns
            .column
              if user
                if user.canAccessKeystone
                  p: a(href='/keystone') Open Keystone
                p: a(href='/keystone/signout') Sign Out
              else
                p.footer-bottom.has-text-centered: a(href='/keystone/signin' rel='nofollow') λ


    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
