doctype
html(lang="en")
  head
    title=public._data.pageTitle
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="author" content=public._data.author)
    meta(name="description" content=public._data.description)
    meta(name="robots" content="index,follow")
    link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(rel="stylesheet" href="/stylesheets/pure.min.css")
  //- HTML BODY
  body
    .wrapper
      //- HEADER
      header
        .header-inner
          .pure-g
            .pure-u-1-3
              a(href="/"): img.img-pure(src="/public/images/sf.png" alt=public._data.author + " Logo" title="Home")
            .pure-u-2-3
              ul
                li: a(href="/posts" title=public._data.menuTitles.posts) Posts
                li: a(href="/projects" title=public._data.menuTitles.projects) Projects
                li: a(href="/about" title=public._data.menuTitles.about) About
                li: a(href="/now" title=public._data.menuTitles.now) Now
          .pure-g
            .pure-u-1
              hr.header-line
          .pure-g
            .pure-u-1
              p.header-subtitle Personal site by 
                span.header-subtitle-name=public._data.author
      //- BODY
      section.content
        .content-inner
          article
            != yield
      //- FOOTER
      footer
        .footer-inner
          .pure-g
            .pure-u-1-3
              p.footer-left By 
                a(href="/contact")=public._data.author
            .pure-u-1-3
              p.footer-middle
                a(rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank")
                  img(alt="Creative Commons License" style="border-width:0" src="/public/images/cc_by_sa.png")
            .pure-u-1-3
              p.footer-right
                a(href="https://github.com/fuerbringer/fuerbringer.info" target="_blank") Page source
