h1 Welcome
p Hello. I'm a programmer who likes to study and has an interest in computer science related topics. I also write software, mainly chat bots and web applications, which I find to be useful sometimes. 
  a(href="/about") Read more.
h2 Posts and memos
p I sometimes write posts and memos for fun. Read 'em all 
  a(href="/posts") here
  | .
h3 Featured post
section
  a(href="/post/writing-nixos-modules")
    h4=public.post._data["writing-nixos-modules"].title
  p=public.post._data["writing-nixos-modules"].description
h2 Check me out on
.pure-g
  .pure-u-1-3
    a(href="https://github.com/fuerbringer" target="_blank")
      img.img-pure(src="/public/images/github_logo.png" alt=public._data.author + " on GitHub" title="GitHub")
  .pure-u-1-3
    a(href="https://gitlab.com/fuerbringer" target="_blank")
      img.img-pure(src="/public/images/gitlab_logo.png" alt=public._data.author + " on GitLab" title="GitLab")
  .pure-u-1-3
    a(href="https://keybase.io/fuerbringer" target="_blank")
      img.img-pure(src="/public/images/keybase_logo.png" alt=public._data.author + " on Keybase" title="Keybase")
